@keyframes appearing 
{
    from {opacity: 0; width: 0}
    to {opacity: 1.00; width: 70%;}   
}

.Members
{
    width: 70%;
    margin: auto;
    border: 1px solid #D4D4D4;
    overflow: hidden;
    animation-name: appearing;
    animation-duration: 2s; 
}

.Members thead tr
{
    background-color: #DF5616;
}

.Members tbody tr
{
    font-weight: bold;
    width: 100%;
    color: #000;
}

.Members tbody .Par
{
    background-color: #C4C4C4;
}

.Members tbody .Impar
{
    background-color: #A2A2A2;
}